<!--img src="../assets/images/logo.png" class="img-responsive" alt="Cinque Terre" width="200" height="100" >
<div class="col-sm-12" style="background-color: #ec8c33;">
   <!--au cas ou sa ne marche pas sur tout les ecran j essai avc celui du haut-->
   <!--div class="d-flex align-content-around flex-wrap justify-content-center"style="font-size: 40px;background-color: #3396ec;padding: 30px; color:white;text-align:center;margin: 0px -30px 0px -30px">    contratti 2.0 </div>
</div>
<br>
<br>
<!--debut form Login-->
<!--div  style="text-align: center;"*ngIf="isAnnulla">
      <div class="cotainer">
         <div class="row justify-content-center">
            <div class="col-md-3 "></div>
            <div class="col-md-6 ">
               <div class="card" >
                  <div class="card-header" style="text-align: center;padding: 3%;background-color: rgb(210, 126, 30);">Login</div>
                  <div class="card-body" style="background-color: #579ddb;">
                     <form  [formGroup]="fa">
                        <div class="form-group row" >
                           <label for="email_address" class="col-md-4 col-form-label text-md-right">EMail </label>
                           <div class="col-md-6">
                              <input required email  type="username"   name="username"  formControlName="username" class="form-control" id="username" placeholder="username" >
                           </div>
                        </div>
                        <div class="form-group row">
                           <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                           <div class="col-md-6">
                              <input required password type="password" formControlName="password"    name="password" class="form-control" id="password" placeholder="Password">
                           </div>
                        </div>
                        <div class="form-group row">
                           <div class="col-md-4 col-sm-4 col-xs-4"></div>
                           <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center;">
                              <button (click)="login()" [disabled]="loading" [ngStyle]="{'cursor': (loading?'not-allowed':'pointer')}" id="myBtn4" ng-click="myFunction4()" style="font-size:20px; width: -webkit-fill-available;  padding: 12px;border: 1px solid green;border: 1px solid white;background-color: #3396ec;border-bottom-color: white;">
                              Accedi
                              <i class="fa fa-spin fa-spinner" *ngIf="loading"></i>
                              </button>
                           </div>
                           <div class="col-md-4 col-sm-4 col-xs-4"></div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
</div-->
<!-- fin form Login-->

<div class="limiter" id="login">
    <div class="container-login100" style="background-image:url(https://image.freepik.com/free-photo/happy-woman-doing-online-shopping-home_329181-4301.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="login_topimg">
                    </div>
                    <div class="wrap-login100">
                        <form [formGroup]="fa" class="login100-form validate-form"> <span class="login100-form-title "> Login </span> <span class="login100-form-subtitle m-b-16"> to your account </span>
                            <div class="wrap-input100 validate-input m-b-16" data-validate="Valid email is required: ex@abc.xyz"> <input class="input100"  required email  type="username"   name="username"  formControlName="username" class="form-control" id="username" placeholder="username"> <span class="focus-input100"></span> <span class="symbol-input100"> <span class="glyphicon glyphicon-user"></span> </span> </div>
                            <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required"> <input class="input100" required password type="password" formControlName="password"    name="password" class="form-control" id="password" placeholder="Password"> <span class="focus-input100"></span> <span class="symbol-input100"> <span class="glyphicon glyphicon-lock"></span> </span> </div>
                            
                           

                            <div class="flex-sb-m w-full p-b-30">
                                <div class="contact100-form-checkbox">
                                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                    <label class="label-checkbox100" for="ckb1">
                                        Remember me
                                    </label>
                                </div>
                                <div>
                                    <a href="#" class="txt1">
                                        Forgot Password?
                                    </a>
                                </div>
                            </div>
                            <div (click)="login()" class="container-login100-form-btn p-t-25"> <button class="login100-form-btn"> Login </button> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>